    <%- include('toast') %>
    <%- include('modal', { csrfToken: (typeof csrfToken !== 'undefined' ? csrfToken : '') }) %>
    <script src="/js/toast.js"></script>
    <script src="/js/profile.js"></script>
  </body>
</html>
